h3 {
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
}

a {
    border: solid 1px;
    border-color: blue;
    color: royalblue;
    border-radius: 10px;
    padding: 10px;
}

.Box {
    background-color: blue;
    padding: 20px;
    margin: 20px;
    width: 40px;
    color: ghostwhite;
    text-align: center;
    border-radius: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
}

header > a {
    color: white;
    text-decoration: none;
    padding-right: 50px;
}
